extends ../layout

block content
  .page-header
    //h2
    //  i.fa.fa-upload
    //  | Image Upload




  .container
    h2 Gallery Dashboard
    br
    .row
      .col-sm-12.col-md-6.col-lg-6
        h3 Image Upload
        form(role='form', enctype='multipart/form-data', method='POST')
          | Title:
          br
          input(type='text', name='imagetitle')
          br
          | Description:
          br
          textarea(name='description', rows='6', cols='40')
          .form-group
            label.control-label File Input
            input(type='file', name='myFile', id='myfile')
          button.btn.btn-primary(type='submit') Submit
      .col-sm-12.col-md-6.col-lg-6
        p Upload Preview
        img.upload-preview(src='../images/320x180.png' alt='upload image')
    br
    // ###############################################################################################

    .row
      .col-sm-12.col-lg-12
        .row
          //span #{images}
          //each val in images
          //  span= val.imagetitle
          //  span jdf;lkajsdlfkajsd
          .col-sm-12
            h3 Gallery Edit/Delete
            ul.render-data
              each image in images
                li#edit-gallery.col-sm-6.col-md-4.col-lg-4
                  h5= "Title: "+ image.imagetitle
                  img.edit-thumbnail(src="../images/uploads/"+ image.filename)
                  button.delete-btn Delete
                  button.edit-btn Edit
                  p.idtext.invisible= image._id
                li#edit-form.col-sm-6.col-md-4.col-lg-4.hidden
                  img.edit-thumbnail(src="../images/uploads/"+ image.filename)
                  form.edit-fields(role= 'form', enctype= 'multipart/form-data', method='POST')
                    input.image-title(type='text', name='imagetitle', value= image.imagetitle)
                    textarea.image-description(name='description', rows='4', cols='25')= image.description
                  button.submit-edit Submit
                  button.cancel-edit Cancel
                  p.idtext.invisible= image._id



    // ###############################################################################################

